@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    font-family: 'Abril Fatface', cursive;
    font-weight: lighter;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    &.dark {
        
        background: linear-gradient(47deg, #000 0%, #111 100%);
        color: aliceblue;
        
        .metadata { 
            *  { text-shadow: 0px 0px 15px transparentize($color: aliceblue, $amount: 0.5); }
            h3 { color: mix(aliceblue, #111, $weight: 70%); }
        }

        #time::webkit-slider-thumb { background: #111; }

        input {
            box-shadow: 0px 0px 15px transparentize($color: aliceblue, $amount: 0.5);
            background: darken($color: white, $amount: 25);
            &::-webkit-slider-thumb { background: aliceblue; }
        }

        .links {
            i {
                color: aliceblue;
                text-shadow: 0px 0px 15px transparentize($color: aliceblue, $amount: 0.5);
            }
        }

        #scratches {
            display: none;
        }
        
    }

    &.light {

        background: linear-gradient(47deg, #eeaeca 0%, #94bbe9 100%);
        color: #111;
        
        .metadata { 
            *  { text-shadow: 0px 0px 15px transparentize($color: #111, $amount: 0.5); }
            h3 { color: mix(#111,  #111, $weight: 0%); }
        }
    
        #time::webkit-slider-thumb { background: aliceblue; }
    
        input {
            box-shadow: 0px 0px 15px transparentize($color: #111, $amount: 0.5);
            background: lighten($color: #111, $amount: 25);
            &::-webkit-slider-thumb { background:  #111; }
        }
    
        .links {
            i {
                color:  #111;
                text-shadow: 0px 0px 15px transparentize($color: #111, $amount: 0.5);
            }
        }

        
    }

}

.metadata {
    text-align: center;

    * {
        margin: 0;
        padding: 0;
    }

    h1 { font-size: 5vmin; }
    h3 { font-size: 3vmin; }
}

#time {

    z-index: 5;
    position: absolute;
    bottom: 2%;
    border-radius: 0;
    left: -2.5%;
    align-self: center;
    width: 105%;

    &::-webkit-slider-thumb {
        appearance: none;
        width: 20px;
        height: 40px;
        border-radius: 100px;
        cursor: default;
        opacity: 1;
    }

    &:hover { opacity: 0.5; }

}

input {
    appearance: none;
    width: 100%;
    height: 1.2vmin;
    outline: none;
    opacity: 0.5;
    border-radius: 100px;
    transition: opacity 0.25s ease-in-out;

    &:hover { opacity: 0.75; }

    &::-webkit-slider-thumb {
        appearance: none;
        width: 1vmin;
        height: 3vmin;
        border-radius: 100px;
        cursor: pointer;
        opacity: 1;
    }

}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 20%;
    margin-top: 1.5%;
    z-index: 10;
    height: 5%;

    i {
        width: 5%;
        margin-right: 5%;
        font-size: 2vmin;
    }
}

#scratches {
    background-image: url("./media/scratches.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0vw;
    top: 0vh;
    z-index: 5;
    mix-blend-mode: screen;
    animation: step-start 2s noise infinite forwards;
    background-repeat: repeat;
}

@keyframes noise {
    0%   { background-position-x: 100px; background-position-y: 500px; }
    20%  { background-position-x: 600px; background-position-y: 700px; }
    40%  { background-position-x: 0px;   background-position-y: 100px; }
    60%  { background-position-x: 500px; background-position-y: 400px; }
    80%  { background-position-x: 400px; background-position-y: 0px;   }
    100% { background-position-x: 800px; background-position-y: 900px; }
}

.links {
    position: absolute;
    z-index: 10;
    top: 2.5vmin;
    right: 5vmin;
    display: flex;
    flex-direction: column;
    height: 100%;

    @media only screen and (max-width: 600px) {
        justify-content: space-around;
        position: relative;
        flex-direction: row;
        height: auto;
        width: 30%;
        right: 0;
        margin-bottom: 5%;
    }

    i {
        opacity: 0.8;
        font-size: 5vmin;
        transition: opacity 0.25s;

        &:hover {
            opacity: 1;
        }

        @media only screen and (max-width: 600px) {
            font-size: 4vmin;
        }

        margin: 20%;
    }
}

a { text-decoration: none; }

#loader {
    display: grid;
    place-items: center;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(47deg, #000 0%, #111 100%);
    top: 0;
    left: 0;
    // animation: fade-out 0.5s ease-in-out forwards;

    i {   
        color: white;
        font-size: 8vmin;
        cursor: pointer;
        opacity: 0.8;
        transition: opacity 0.25s ease-in-out;

        &:hover { opacity: 1; }
    }
}

@keyframes fade-out {
    0%   { visibility: visible; opacity: 1; }
    99%  { visibility: visible; opacity: 0; }
    100% { visibility: hidden;  opacity: 0; }
}

@keyframes fade-in {
    0%   { visibility: hidden;  opacity: 0; }
    1%   { visibility: visible; opacity: 0; }
    100% { visibility: visible; opacity: 1; }
}

#reactor {
    // width: 100%;
    // height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: blue;
    display: none;
}

#mute {
    cursor: pointer;
}